body {
  margin: 0;
  padding: 0;
}

p {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
}

h1, h2, h3, h4 {
  font-family: "Raleway", sans-serif;
  margin: 0;
}

.lign-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
}

.div-logo {
  display: flex;
  justify-content: center;
  -webkit-box-shadow: 5px 5px 12px 5px lightgrey;
  position: relative;
  box-shadow: 5px 5px 12px 5px lightgrey;
  z-index: 10;
  overflow: visible;
}
.div-logo img {
  object-fit: contain;
  width: 50%;
  padding: 20px 0 20px 0;
}

.div-location {
  background-color: #EAEAEA;
  padding: 0;
  margin: 0;
  z-index: 1;
  -webkit-box-shadow: 10px 0px 0px 0px black;
  box-shadow: 10px 0px 0px 0px black;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  padding: 14px 0 14px 0;
}
.div-location img {
  width: 16px;
  height: 16px;
}
.div-location p {
  margin: 0 0 0 20px;
  color: #353535;
}

.expl-div {
  padding: 35px 0 60px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F6F6F6;
}
.expl-div P {
  max-width: 80%;
  display: flex;
  margin: 0;
  text-align: center;
  font-weight: 300;
  font-size: 16px;
  margin: 15px 0 30px 0;
}
.expl-div h2 {
  max-width: 80%;
  display: flex;
  margin: 0;
  text-align: center;
}
.expl-div .button-explore {
  border-radius: 22px;
  padding: 12px 20px 12px 20px;
  color: white;
  background: #CE96F7;
  background: -webkit-linear-gradient(top left, #CE96F7, #9400DD);
  background: -moz-linear-gradient(top left, #CE96F7, #9400DD);
  background: linear-gradient(to bottom right, #CE96F7, #9400DD);
}
.expl-div .button-explore h3 {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
}

.fonction-div {
  padding: 20px 4% 20px 4%;
}
.fonction-div h3 {
  margin: 15px 0 20px 0;
}
.fonction-div .list-fonction {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.fonction-div .list-fonction .card-fonction {
  width: 95%;
  position: relative;
  background-color: #F6F6F6;
  border-radius: 20px;
  padding: 25px 0 25px 0;
  -webkit-box-shadow: 0px 0px 15px 0px lightgray;
  box-shadow: 0px 0px 15px 0px lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fonction-div .list-fonction .card-fonction svg {
  width: 20px;
  height: 20px;
  fill: #797979;
  position: absolute;
  left: 45px;
}
.fonction-div .list-fonction .card-fonction h4 {
  margin: 0;
  font-weight: 600;
}
.fonction-div .list-fonction .card-fonction .nb-card {
  display: flex;
  justify-content: center;
  position: absolute;
  height: 22px;
  width: 22px;
  left: -10px;
  color: white;
  background-color: #9356DC;
  border-radius: 50%;
}
.fonction-div .list-fonction .card-fonction .nb-card P {
  margin: 0;
}

.restaurants {
  padding: 20px 4% 20px 4%;
  background-color: #F6F6F6;
}
.restaurants h2 {
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 30px;
}
.restaurants .liste-restaurants {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.restaurants .liste-restaurants .card-resto {
  width: 100%;
  background-color: white;
  border-radius: 13px;
  height: 250px;
  position: relative;
}
.restaurants .liste-restaurants .card-resto img {
  height: 73%;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
}
.restaurants .liste-restaurants .card-resto .etiquette-new {
  position: absolute;
  padding: 0;
  margin: 0;
  background-color: #99E2D0;
  padding: 5px 10px 5px 10px;
  color: #119172;
  border-radius: 4px;
  right: 17px;
  top: 17px;
}
.restaurants .liste-restaurants .card-resto .etiquette-new P {
  margin: 0;
  padding: 0;
  font-size: 13px;
  font-weight: 700;
}
.restaurants .liste-restaurants .card-resto .below-img-card {
  height: 27%;
  display: flex;
  flex-direction: row;
}
.restaurants .liste-restaurants .card-resto .below-img-card .text-place {
  width: 75%;
}
.restaurants .liste-restaurants .card-resto .below-img-card .text-place p {
  margin: 0px;
  padding: 0;
  padding: 1% 0 0 5%;
}
.restaurants .liste-restaurants .card-resto .below-img-card .text-place h4 {
  padding: 2% 0 0 5%;
}
.restaurants .liste-restaurants .card-resto .below-img-card .hearth-place {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
}
.restaurants .liste-restaurants .card-resto .below-img-card .hearth-place a {
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-bottom: 25px;
}
.restaurants .liste-restaurants .card-resto .below-img-card .hearth-place svg:hover, .restaurants .liste-restaurants .card-resto .below-img-card .hearth-place svg:focus {
  animation: fadein 3s;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    fill: #9356DC;
  }
}
footer {
  display: flex;
  flex-direction: column;
  color: white;
  max-width: 100%;
  position: relative;
  background-color: #353535;
  padding: 20px 4% 20px 4%;
  margin: 0;
  font-weight: 500;
}
footer .logo-footer {
  object-fit: contain;
  width: 110px;
  margin: 10px 0 10px 0;
}
footer .icone-footer {
  height: 16px;
  width: 16px;
  margin-right: 10px;
}
footer p {
  padding: 5px 0 5px 0;
  margin: 0;
}

.little-header {
  position: relative;
}
.little-header .back {
  position: absolute;
  width: 20px;
}
.little-header img {
  object-fit: contain;
  height: 50px;
}

/*# sourceMappingURL=style.css.map */
